# Processing Excel Spreedsheets for Payment Locations
1. Process each file
2. Run the Geocode
3. Truncate/Load to existing 
4. Still need republish?

# ToDo
~~1. Add in  Google Link Column~~  
~~2.Process each field with .title() method~~  
~~3. Process Phone Numbers~~  
~~4. Process Zip code to only have first 5~~  


~~Add in correct Google Link~~  
Symbol for each type  
    * This will require a decision to add in a column that is unused
    * How many columns would we need because there are dups and there are 3 different types
        * Cash, RTP, Money Gram
Geocode  
Find duplicates
    * Sometimes it could be Cash, RTP, and Money Gram 
    
Write functions that are repitive

In [1]:
#import arcpy
import pandas as pd
import os
import geocoder

In [2]:
# Read all the files in directory
for excel_file in os.listdir("paymentlocations"):
    if excel_file.endswith(".xls"):
        print(excel_file)
    if excel_file.endswith("xlsx"):
        print(excel_file)

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'paymentlocations'

# Ace Cash Express Processing Requirements
### use .tile() on all fields (cells)
**1. ACE Cash Express**  
* Symbol = white  
* Columns to keep - 
    1. Center Name = LocationName (Alias: Location Name)
    2. Address
    3. City
    4. ST
    5. Zip = ZipCode
    6. Phone - Check for 1 in beginning; Phone will add parentheses and dash(-) where appropriate - (972)292-5000
    7. Longitude
    8. Latitude  
    * Symbol
    * Cash
    * RTP
    * Money Gram

In [102]:
# Read in excel sheet and take only desired columns
# Rename the column names
columnName = ["LocationName", "Address", "City", "ST", "ZipCode", "Phone", "Longitude", "Latitude"]
# ace = pd.read_excel("paymentlocations/ACE Cash Express.xlsx")
ace = pd.read_excel("paymentlocations/ACE Cash Express.xlsx", sheet_name="Sheet1", usecols="B:G, V:W", names=columnName)
ace.head()

,LocationName,Address,City,ST,ZipCode,Phone,Longitude,Latitude
0,ACE CASH EXPRESS #0315,3117 AL LIPSCOMB WAY,DALLAS,TX,75215,2144214894,-96.768468,32.774702
1,ACE CASH EXPRESS 0318,3029 SOUTH FRWY,FORT WORTH,TX,76104,8179219722,-97.320144,32.707227
2,ACE CASH EXPRESS 0320,201 W MAIN ST,GRAND PRAIRIE,TX,75050,9722627919,-97.005206,32.745328
3,ACE CASH EXPRESS 0321,500 N GALLOWAY AVE,MESQUITE,TX,75149,9722891201,-96.598901,32.771057
4,ACE CASH EXPRESS 0323,3418 OAK LAWN AVE,DALLAS,TX,75219,2145202274,-96.806379,32.811101

In [103]:
# Phone will add parentheses and dash(-) where appropriate - (972)292-5000
# type(ace["Phone"]) # 
phone_number = ace["Phone"]
phone_number = phone_number.astype(str)
# Check if phone number has a 1
for phone in phone_number:
    if phone[0] == "1":
        print("There is a 1")

In [104]:
#print(phone_number.head())
first_3 = phone_number.str.slice(stop=3)
#print(first_3.head())
mid_3 = phone_number.str.slice(start=3,stop=6)
#print(next_3.head())
last_4 = phone_number.str.slice(start=6)
#print(last_4)
phone_number = "(" + first_3 + ") " + mid_3 + "-" + last_4
phone_number.head()

0    2144214894
1    8179219722
2    9722627919
3    9722891201
4    2145202274
Name: Phone, dtype: object
0    214
1    817
2    972
3    972
4    214
Name: Phone, dtype: object
0    421
1    921
2    262
3    289
4    520
Name: Phone, dtype: object

0    (214) 421-4894
1    (817) 921-9722
2    (972) 262-7919
3    (972) 289-1201
4    (214) 520-2274
Name: Phone, dtype: object

In [105]:
# Process each column to have each new word start with a capital letter
ace["LocationName"] = ace["LocationName"].apply(lambda x: x.title())
ace["Address"] = ace["Address"].apply(lambda x: x.title())
ace["City"] = ace["City"].apply(lambda x: x.title())
ace["Phone"] = phone_number
ace.head()

,LocationName,Address,City,ST,ZipCode,Phone,Longitude,Latitude
0,Ace Cash Express #0315,3117 Al Lipscomb Way,Dallas,TX,75215,(214) 421-4894,-96.768468,32.774702
1,Ace Cash Express 0318,3029 South Frwy,Fort Worth,TX,76104,(817) 921-9722,-97.320144,32.707227
2,Ace Cash Express 0320,201 W Main St,Grand Prairie,TX,75050,(972) 262-7919,-97.005206,32.745328
3,Ace Cash Express 0321,500 N Galloway Ave,Mesquite,TX,75149,(972) 289-1201,-96.598901,32.771057
4,Ace Cash Express 0323,3418 Oak Lawn Ave,Dallas,TX,75219,(214) 520-2274,-96.806379,32.811101

# Fidelity Processing Requirements
### use .tile() on all column names or just pull in each column to appropriate column
### use .tile() on all fields (cells)
**2. Fidelity Express**
* Symbol = white 
* Columns to keep
    1. Location Name = LocationName (Alias: Location Name)
    2. Address
    3. City
    4. ST
    5. Zip = ZipCode - take the first 5
    6. Loc Phone = Phone - Check for 1 in beginning; Phone will add parentheses and dash(-) where appropriate - (972)292-5000

In [106]:
# Read in excel sheet and take only desired columns
# Rename the column names
columnName = ["LocationName", "Address", "City", "ST", "ZipCode", "Phone"]
#fidelity = pd.read_excel("paymentlocations/Fidelity Express.xls")
fidelity = pd.read_excel("paymentlocations/Fidelity Express.xls", sheet_name="Sheet1", usecols="A:E, G", names=columnName)
fidelity.head()

,LocationName,Address,City,ST,ZipCode,Phone
0,Polo`s Grocery & Laundry,621 E Oakwood St,Tyler,TX,757025943,9035926402
1,SUPER STORE,912 DIVISION ST,ATCHISON,KS,660020000,9133673548
2,STAR GAS,788 SPRUCE ST,LEAVENWORTH,KS,660480000,9136826026
3,FAV TRIP,1300 S 4TH ST,LEAVENWORTH,KS,660480000,9136828747
4,HOMETOWN STORE,111 N BROADWAY ST,LEAVENWORTH,KS,660481845,9136828330

In [107]:
# Phone will add parentheses and dash(-) where appropriate - (972)292-5000
phone_number = fidelity["Phone"]
phone_number = phone_number.astype(str)
# Check if phone number has a 1
for phone in phone_number:
    if phone[0] == "1":
        print("There is a 1")

In [108]:
#print(phone_number.head())
first_3 = phone_number.str.slice(stop=3)
#print(first_3.head())
mid_3 = phone_number.str.slice(start=3,stop=6)
#print(next_3.head())
last_4 = phone_number.str.slice(start=6)
#print(last_4)
phone_number = "(" + first_3 + ") " + mid_3 + "-" + last_4
phone_number.head()

0    (903) 592-6402
1    (913) 367-3548
2    (913) 682-6026
3    (913) 682-8747
4    (913) 682-8330
Name: Phone, dtype: object

In [114]:
# Process zip codes to only have first 5
zip_code = fidelity["ZipCode"]
zip_code = zip_code.astype(str)
zip_code = zip_code.str.slice(stop=5)
zip_code.head()

0    75702
1    66002
2    66048
3    66048
4    66048
Name: ZipCode, dtype: object

In [115]:
# Process each column to have each new word start with a capital letter
fidelity["LocationName"] = fidelity["LocationName"].apply(lambda x: x.title())
fidelity["Address"] = fidelity["Address"].apply(lambda x: x.title())
fidelity["City"] = fidelity["City"].apply(lambda x: x.title())
fidelity["Phone"] = phone_number
fidelity["ZipCode"] = zip_code
fidelity.head()

,LocationName,Address,City,ST,ZipCode,Phone
0,Polo`S Grocery & Laundry,621 E Oakwood St,Tyler,TX,75702,(903) 592-6402
1,Super Store,912 Division St,Atchison,KS,66002,(913) 367-3548
2,Star Gas,788 Spruce St,Leavenworth,KS,66048,(913) 682-6026
3,Fav Trip,1300 S 4Th St,Leavenworth,KS,66048,(913) 682-8747
4,Hometown Store,111 N Broadway St,Leavenworth,KS,66048,(913) 682-8330

In [107]:
# Phone will add parentheses and dash(-) where appropriate - (972)292-5000
phone_number = fidelity["Phone"]
phone_number = phone_number.astype(str)
# Check if phone number has a 1
for phone in phone_number:
    if phone[0] == "1":
        print("There is a 1")

In [108]:
#print(phone_number.head())
first_3 = phone_number.str.slice(stop=3)
#print(first_3.head())
mid_3 = phone_number.str.slice(start=3,stop=6)
#print(next_3.head())
last_4 = phone_number.str.slice(start=6)
#print(last_4)
phone_number = "(" + first_3 + ") " + mid_3 + "-" + last_4
phone_number.head()

0    (903) 592-6402
1    (913) 367-3548
2    (913) 682-6026
3    (913) 682-8747
4    (913) 682-8330
Name: Phone, dtype: object

In [114]:
# Process zip codes to only have first 5
zip_code = fidelity["ZipCode"]
zip_code = zip_code.astype(str)
zip_code = zip_code.str.slice(stop=5)
zip_code.head()

0    75702
1    66002
2    66048
3    66048
4    66048
Name: ZipCode, dtype: object

In [115]:
# Process each column to have each new word start with a capital letter
fidelity["LocationName"] = fidelity["LocationName"].apply(lambda x: x.title())
fidelity["Address"] = fidelity["Address"].apply(lambda x: x.title())
fidelity["City"] = fidelity["City"].apply(lambda x: x.title())
fidelity["Phone"] = phone_number
fidelity["ZipCode"] = zip_code
fidelity.head()

,LocationName,Address,City,ST,ZipCode,Phone
0,Polo`S Grocery & Laundry,621 E Oakwood St,Tyler,TX,75702,(903) 592-6402
1,Super Store,912 Division St,Atchison,KS,66002,(913) 367-3548
2,Star Gas,788 Spruce St,Leavenworth,KS,66048,(913) 682-6026
3,Fav Trip,1300 S 4Th St,Leavenworth,KS,66048,(913) 682-8747
4,Hometown Store,111 N Broadway St,Leavenworth,KS,66048,(913) 682-8330

## Money Gram Processing Requirements
### use .tile() on all fields (cells)
**3. Money Gram**
* Symbol = white 
* Columns to keep
    1. Display Name = LocationName (Alias: Location Name)
    2. Phyiscal Address Line 1 = Address
    3. Phyiscal Address City = City
    4. Phyiscal Address State/Province Code = ST
    5. Zip Code = ZipCode - take the first 5
    6. Phone Number = Phone - Check for 1 in beginning; Phone will add parentheses and dash(-) where appropriate - (972)292-5000

In [118]:
# Read in excel sheet and take only desired columns
# Rename the column names
columnName = ["LocationName", "Address", "City", "ST", "ZipCode", "Phone"]
#moneygram = pd.read_excel("paymentlocations/MoneyGram.xls")
moneygram = pd.read_excel("paymentlocations/MoneyGram.xlsx", usecols="B:E, G:H", names=columnName, skiprows=0)
moneygram.head()

,LocationName,Address,City,ST,ZipCode,Phone
0,Y GAS & OIL - #0001,6257 E STATE HIGHWAY 107,EDINBURG,TX,785427292,9563816464
1,DOC'S BEVERAGE,1103 E ENNIS AVE,ENNIS,TX,751194342,9728759451
2,TOP GROCERIES,33 W MAIN ST,HUMBLE,TX,773384308,2815483359
3,AMIGO SUPERMARKET - #0001,6362 WINDSWEPT LN,HOUSTON,TX,770577210,7139149288
4,FAST CASH CHECK SERVICE,1314 N COUNTY RD W,ODESSA,TX,797633440,4323358211

In [119]:
# Phone will add parentheses and dash(-) where appropriate - (972)292-5000
phone_number = moneygram["Phone"]
phone_number = phone_number.astype(str)
# Check if phone number has a 1
for phone in phone_number:
    if phone[0] == "1":
        print("There is a 1")

In [120]:
#print(phone_number.head())
first_3 = phone_number.str.slice(stop=3)
#print(first_3.head())
mid_3 = phone_number.str.slice(start=3,stop=6)
#print(next_3.head())
last_4 = phone_number.str.slice(start=6)
#print(last_4)
phone_number = "(" + first_3 + ") " + mid_3 + "-" + last_4
phone_number.head()

0    (956) 381-6464
1    (972) 875-9451
2    (281) 548-3359
3    (713) 914-9288
4    (432) 335-8211
Name: Phone, dtype: object

In [121]:
# Process zip codes to only have first 5
zip_code = moneygram["ZipCode"]
zip_code = zip_code.astype(str)
zip_code = zip_code.str.slice(stop=5)
zip_code.head()

0    78542
1    75119
2    77338
3    77057
4    79763
Name: ZipCode, dtype: object

In [122]:
# Process each column to have each new word start with a capital letter
moneygram["LocationName"] = moneygram["LocationName"].apply(lambda x: x.title())
moneygram["Address"] = moneygram["Address"].apply(lambda x: x.title())
moneygram["City"] = moneygram["City"].apply(lambda x: x.title())
moneygram["Phone"] = phone_number
moneygram["ZipCode"] = zip_code
moneygram.head()

,LocationName,Address,City,ST,ZipCode,Phone
0,Y Gas & Oil - #0001,6257 E State Highway 107,Edinburg,TX,78542,(956) 381-6464
1,Doc'S Beverage,1103 E Ennis Ave,Ennis,TX,75119,(972) 875-9451
2,Top Groceries,33 W Main St,Humble,TX,77338,(281) 548-3359
3,Amigo Supermarket - #0001,6362 Windswept Ln,Houston,TX,77057,(713) 914-9288
4,Fast Cash Check Service,1314 N County Rd W,Odessa,TX,79763,(432) 335-8211

# RTP Processing Requirements
### use .tile() on all fields (cells)
**4. RTP**
* Symbol = blue
* Columns to keep
    1. DESCRIPTION = LocationName (Alias: Location Name)
    2. ADDRESS = Address
    3. CITY = City
    4. STATE = ST
    5. ZIP = ZipCode
    6. PHONE = Phone - Check for 1 in beginning; remove the dash(-); Phone will add parentheses and dash(-) where appropriate - (972)292-5000

In [123]:
# Read in xlsx as an object
columnName = ["LocationName", "Address", "City", "ST", "ZipCode", "Phone"]
#rtp = pd.read_excel("paymentlocations/RTP's.xlsx")
rtp = pd.read_excel("paymentlocations/RTP's.xlsx", sheet_name="Sheet1", usecols="A, C:G", names=columnName)
rtp.head()

,LocationName,Address,City,ST,ZipCode,Phone
0,ALBERTSONS - #4279,833 NE ALSBURY BLVD,BURLESON,TX,76028,817-447-9106
1,ALBERTSONS - #4290,480 NORTHWEST PARKWAY,AZLE,TX,76020,817-270-1116
2,ALBERTSONS - #4176,225 E. SPRING ST,WEATHERFORD,TX,76086,817-594-9390
3,CITY OF BURLESON,141 W RENFRO ST,BURLESON,TX,76028,817-426-9600
4,CITY OF GARLAND,217 N. FIFTH ST,GARLAND,TX,75040,972-205-2646

In [131]:
# Phone will add parentheses and dash(-) where appropriate - (972)292-5000
phone_number = rtp["Phone"]
phone_number = phone_number.astype(str)
# Check if phone number has a 1
for phone in phone_number:
    if phone[0] == "1":
        print("There is a 1")

In [132]:
#print(phone_number.head())
phone_number = phone_number.str.replace("-", "")
first_3 = phone_number.str.slice(stop=3)
#print(first_3.head())
mid_3 = phone_number.str.slice(start=3,stop=6)
#print(next_3.head())
last_4 = phone_number.str.slice(start=6)
#print(last_4)
phone_number = "(" + first_3 + ") " + mid_3 + "-" + last_4
phone_number.head()

0    (817) 447-9106
1    (817) 270-1116
2    (817) 594-9390
3    (817) 426-9600
4    (972) 205-2646
Name: Phone, dtype: object

In [134]:
# Process each column to have each new word start with a capital letter
rtp["LocationName"] = rtp["LocationName"].apply(lambda x: x.title())
rtp["Address"] = rtp["Address"].apply(lambda x: x.title())
rtp["City"] = rtp["City"].apply(lambda x: x.title())
rtp["Phone"] = phone_number
rtp.head()

,LocationName,Address,City,ST,ZipCode,Phone
0,Albertsons - #4279,833 Ne Alsbury Blvd,Burleson,TX,76028,(817) 447-9106
1,Albertsons - #4290,480 Northwest Parkway,Azle,TX,76020,(817) 270-1116
2,Albertsons - #4176,225 E. Spring St,Weatherford,TX,76086,(817) 594-9390
3,City Of Burleson,141 W Renfro St,Burleson,TX,76028,(817) 426-9600
4,City Of Garland,217 N. Fifth St,Garland,TX,75040,(972) 205-2646

# Empty Dataframe to append each excel file
1. LocationName (Alias: Location Name)
2. Address
3. City
4. ST
5. ZipCode (Alias: Zip Code)
6. Phone
7. Longitude
8. Latitude
9. GoogleLink (Alias: Google Link)
10. Symbol

In [135]:
# Create the output datafrome to append each excel file
columnName=["LocationName", "Address", "City", "ST", "ZipCode", "Phone", "Longitude", "Latitude", "GoogleLink", "Symbol"]
add_columns = pd.DataFrame(columns=columnName)
add_columns

Empty DataFrame
Columns: [LocationName, Address, City, ST, ZipCode, Phone, Longitude, Latitude, GoogleLink, Symbol]
Index: []

In [143]:
# Add all the excel turned dataframes into 1 dataframe
# sort = Sorts the columns in alphabetical order
output = pd.concat([add_columns, ace, fidelity, moneygram, rtp], sort=False)

# Duplicate issues
#output.duplicated("Address")

In [165]:
# Add in Google Link
#output["ZipCode"] = output["ZipCode"].astype(str)
# https://www.google.com/maps/place/480 NORTHWEST PARKWAY, AZLE, TX. 76020
output["GoogleLink"] = "https://www.google.com/maps/place/" + output["Address"] + ", " + output["ST"] + " " + output["ZipCode"].astype(str)
output["GoogleLink"].head()
output

,LocationName,Address,City,ST,ZipCode,Phone,Longitude,Latitude,GoogleLink,Symbol
0,Ace Cash Express #0315,3117 Al Lipscomb Way,Dallas,TX,75215,(214) 421-4894,-96.768468,32.774702,https://www.google.com/maps/place/3117 Al Lips...,NaN
1,Ace Cash Express 0318,3029 South Frwy,Fort Worth,TX,76104,(817) 921-9722,-97.320144,32.707227,https://www.google.com/maps/place/3029 South F...,NaN
2,Ace Cash Express 0320,201 W Main St,Grand Prairie,TX,75050,(972) 262-7919,-97.005206,32.745328,https://www.google.com/maps/place/201 W Main S...,NaN
3,Ace Cash Express 0321,500 N Galloway Ave,Mesquite,TX,75149,(972) 289-1201,-96.598901,32.771057,https://www.google.com/maps/place/500 N Gallow...,NaN
4,Ace Cash Express 0323,3418 Oak Lawn Ave,Dallas,TX,75219,(214) 520-2274,-96.806379,32.811101,https://www.google.com/maps/place/3418 Oak Law...,NaN
5,Ace Cash Express 0324,5111 Greenville Ave,Dallas,TX,75206,(214) 696-2274,-96.770286,32.849112,https://www.google.com/maps/place/5111 Greenvi...,NaN
6,Ace Cash Express 0328,1914 E Beltline Rd,Carrollton,TX,75006,(972) 416-2274,-96.889452,32.953430,https://www.google.com/maps/place/1914 E Beltl...,NaN
7,Ace Cash Express 0331,2243 S Cooper St,Arlington,TX,76013,(817) 274-2274,-97.116262,32.707766,https://www.google.com/maps/place/2243 S Coope...,NaN
8,Ace Cash Express 0337,3658 N Belt Line Rd,Irving,TX,75062,(972) 252-1207,-96.991865,32.856015,https://www.google.com/maps/place/3658 N Belt ...,NaN
9,Ace Cash Express 0341,1409 N Beltline Rd,Irving,TX,75061,(972) 986-2274,-96.994024,32.828911,https://www.google.com/maps/place/1409 N Beltl...,NaN
10,Ace Cash Express 0342,2230 N Collins St,Arlington,TX,76011,(817) 861-2414,-97.097180,32.770550,https://www.google.com/maps/place/2230 N Colli...,NaN
11,Ace Cash Express 0354,9730 Abrams Rd,Dallas,TX,75243,(214) 340-2274,-96.735264,32.908523,https://www.google.com/maps/place/9730 Abrams ...,NaN
12,Ace Cash Express 0355,2905 Arkansas Ln,Grand Prairie,TX,75052,(972) 641-4859,-97.049299,32.706020,https://www.google.com/maps/place/2905 Arkansa...,NaN
13,Ace Cash Express 0360,9096 Hwy 80 W,Fort Worth,TX,76116,(817) 560-8768,-97.472090,32.725010,https://www.google.com/maps/place/9096 Hwy 80 ...,NaN
14,Ace Cash Express 0366,383 Pipeline Rd,Bedford,TX,76022,(817) 280-0122,-97.160327,32.823700,https://www.google.com/maps/place/383 Pipeline...,NaN
15,Ace Cash Express 0375,3317 W Walnut Hill Ln,Irving,TX,75038,(972) 659-0019,-96.990502,32.865480,https://www.google.com/maps/place/3317 W Walnu...,NaN
16,Ace Cash Express 0380,1095 Wynnewood Plaza,Dallas,TX,75224,(214) 946-2274,-96.832863,32.721613,https://www.google.com/maps/place/1095 Wynnewo...,NaN
17,Ace Cash Express 0381,6245 Rufe Snow Dr,Watauga,TX,76148,(817) 428-8008,-97.238229,32.859488,https://www.google.com/maps/place/6245 Rufe Sn...,NaN
18,Ace Cash Express 0384,1120 W Camp Wisdom Rd,Dallas,TX,75232,(972) 224-8074,-96.840487,32.661973,https://www.google.com/maps/place/1120 W Camp ...,NaN
19,Ace Cash Express 0388,1060 N Main St,Euless,TX,76039,(817) 571-1186,-97.082397,32.851442,https://www.google.com/maps/place/1060 N Main ...,NaN
20,Ace Cash Express 0389,1125 W 6Th St,Irving,TX,75060,(972) 259-2045,-96.959386,32.808761,https://www.google.com/maps/place/1125 W 6Th S...,NaN
21,Ace Cash Express 0393,105 S Central Expy,Richardson,TX,75080,(972) 783-6777,-96.734590,32.949927,https://www.google.com/maps/place/105 S Centra...,NaN
22,Ace Cash Express 0395,3801 Gus Thomasson Rd,Mesquite,TX,75150,(972) 270-8282,-96.636582,32.815171,https://www.google.com/maps/place/3801 Gus Tho...,NaN
23,Ace Cash Express 0396,5441 Alpha Rd,Dallas,TX,75240,(972) 991-8282,-96.814536,32.932966,https://www.google.com/maps/place/5441 Alpha R...,NaN
24,Ace Cash Express 1302,205 N Barton St,Grapevine,TX,76051,(817) 421-0994,-97.079049,32.941587,https://www.google.com/maps/place/205 N Barton...,NaN
25,Ace Cash Express 1303,6304 Lake Worth Blvd,Lake Worth,TX,76135,(817) 237-4152,-97.422682,32.810140,https://www.google.com/maps/place/6304 Lake Wo...,NaN
26,Ace Cash Express 1306,5606 Broadway Blvd,Garland,TX,75043,(972) 240-1366,-96.595986,32.847311,https://www.google.com/maps/place/5606 Broadwa...,NaN
27,Ace Cash Express 1307,6334 Meadowbrook Dr,Fort Worth,TX,76112,(817) 446-0042,-97.221042,32.745938,https://www.google.com/maps/place/6334 Meadowb...,NaN
28,Ace Cash Express 1308,251 Sw Wilshire Blvd,Burleson,TX,76028,(817) 295-9929,-97.329875,32.542272,https://www.google.com/maps/place/251 Sw Wilsh...,NaN
29,Ace Cash Express 1309,5920 Samuell Blvd,Dallas,TX,75227,(214) 275-7663,-96.701132,32.791713,https://www.google.com/maps/place/5920 Samuell...,NaN
...,...,...,...,...,...,...,...,...,...,...
177,Albertsons - #70,4000 Glade Rd,Colleyville,TX,76034,(817) 354-0505,NaN,NaN,https://www.google.com/maps/place/4000 Glade R...,NaN
178,Albertsons - #4272,850 E Loop 820,Fort Worth,TX,76112,(817) 451-0306,NaN,NaN,https://www.google.com/maps/place/850 E Loop 8...,NaN
179,Albertsons - #4277,3525 Sycamore School Rd,Fort Worth,TX,76133,(817) 346-6497,NaN,NaN,https://www.google.com/maps/place/3525 Sycamor...,NaN
180,Albertsons - #4286,6700 West Fwy,Fort Worth,TX,76116,(817) 377-8074,NaN,NaN,https://www.google.com/maps/place/6700 West Fw...,NaN
181,Albertsons - #4294,210 W Katherine P Raines Rd,Cleburne,TX,76033,(817) 641-2002,NaN,NaN,https://www.google.com/maps/place/210 W Kather...,NaN
182,City Of Colleyville,100 Main St,Colleyville,TX,76034,(817) 503-1000,NaN,NaN,"https://www.google.com/maps/place/100 Main St,...",NaN
183,City Of Southlake Public Library,1400 Main Street Suite 130,Southlake,TX,76092,(817) 748-8243,NaN,NaN,https://www.google.com/maps/place/1400 Main St...,NaN
184,Fiesta Mart - #46,"275 Ne 28Th St, Fort Worth, Tx, 76164",Ft Worth,TX,76106,(817) 625-3500,NaN,NaN,https://www.google.com/maps/place/275 Ne 28Th ...,NaN
185,Fiesta Mart - #61,"2700 8Th Ave, Fort Worth, Tx, 76110",Ft Worth,TX,76110,(817) 920-1900,NaN,NaN,https://www.google.com/maps/place/2700 8Th Ave...,NaN
186,Fiesta Mart - #67,"421 W Bolt St, Fort Worth, Tx, 76110",Ft Worth,TX,76110,(817) 920-1930,NaN,NaN,https://www.google.com/maps/place/421 W Bolt S...,NaN
187,Fiesta Mart - #69,"7809 Camp Bowie W, Fort Worth, Tx, 76116",Ft Worth,TX,76116,(817) 696-9631,NaN,NaN,https://www.google.com/maps/place/7809 Camp Bo...,NaN
188,Fiesta Mart - #76,"4245 E Berry St, Fort Worth, Tx, 76105",Ft Worth,TX,76105,(817) 531-1067,NaN,NaN,https://www.google.com/maps/place/4245 E Berry...,NaN
189,Kroger - #224,3510 Alto Mesa,Ft Worth,TX,76133,(817) 294-5911,NaN,NaN,https://www.google.com/maps/place/3510 Alto Me...,NaN
190,Kroger - #439,9114 Camp Bowie West Blvd,Ft Worth,TX,76116,(817) 244-2576,NaN,NaN,https://www.google.com/maps/place/9114 Camp Bo...,NaN
191,Kroger - #451,1060 North Main,Euless,TX,76039,(817) 571-1008,NaN,NaN,https://www.google.com/maps/place/1060 North M...,NaN
192,Kroger - #512,2110 East Southlake Blvd,Southlake,TX,76092,(817) 421-8105,NaN,NaN,https://www.google.com/maps/place/2110 East So...,NaN
193,Kroger - #516,976 Keller Pkwy,Keller,TX,76248,(817) 431-5194,NaN,NaN,https://www.google.com/maps/place/976 Keller P...,NaN
194,Kroger - #520,3120 South University Dr,Fort Worth,TX,76109,(817) 566-7860,NaN,NaN,https://www.google.com/maps/place/3120 South U...,NaN
195,Kroger - #521,2109 Harwood Rd,Bedford,TX,76021,(817) 685-9266,NaN,NaN,https://www.google.com/maps/place/2109 Harwood...,NaN
196,Kroger - #537,2061 Rufe Snow,Keller,TX,76248,(817) 605-8591,NaN,NaN,https://www.google.com/maps/place/2061 Rufe Sn...,NaN
197,Kroger - #542,3300 Texas Sage Trl,Fort Worth,TX,76177,(817) 750-2046,NaN,NaN,https://www.google.com/maps/place/3300 Texas S...,NaN
198,Kroger - #562,12600 North Beach St,Fort Worth,TX,76244,(817) 562-3900,NaN,NaN,https://www.google.com/maps/place/12600 North ...,NaN
199,Kroger - #694,3304 Denton Hwy,Haltom City,TX,76117,(817) 838-6974,NaN,NaN,https://www.google.com/maps/place/3304 Denton ...,NaN
200,Kroger - #844,708 East Pipeline Rd,Hurst,TX,76053,(817) 285-9515,NaN,NaN,https://www.google.com/maps/place/708 East Pip...,NaN
201,Tom Thumb - #1780,1000 Keller Pkwy,Keller,TX,76248,(817) 337-8030,NaN,NaN,https://www.google.com/maps/place/1000 Keller ...,NaN
202,Tom Thumb - #2580,100 W. S.Lake Blvd,Southlake,TX,76092,(817) 416-5464,NaN,NaN,https://www.google.com/maps/place/100 W. S.Lak...,NaN
203,Tom Thumb - #1789,101 Trophy Lake Dr,Roanoke,TX,76262,(817) 490-6960,NaN,NaN,https://www.google.com/maps/place/101 Trophy L...,NaN
204,Tom Thumb - #3622,6377 Camp Bowie Blvd,Fort Worth,TX,76116,(817) 654-0256,NaN,NaN,https://www.google.com/maps/place/6377 Camp Bo...,NaN
205,Tom Thumb - #2574,3100 S. Hulen,Fort Worth,TX,76109,(817) 570-2950,NaN,NaN,https://www.google.com/maps/place/3100 S. Hule...,NaN
206,Tom Thumb - #3312,2400 W. 7Th St.,Fort Worth,TX,76107,(817) 302-1400,NaN,NaN,https://www.google.com/maps/place/2400 W. 7Th ...,NaN

In [2]:
# index=False is needed so there is no index that is added by Pandas
output.to_csv("paymentlocations/output.csv", index=False)
output.tail()

NameError: name 'output' is not defined